<%- include("../partials/header") %>
    
<link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav class="nav">
        <div class="headerName">
            <h2> Resume Maker</h2>
        </div>
        <div class="cta">
            <a href="/contact-details" class="btn btn-lg">Create Resume</a>
        </div>
    </nav>

    <main class="d-flex main">
        <div class="page-title">
            <h1>Our resumes get people hired at top companies</h1>
            <p class="desc">Create your resume easily with our free builder and templates.</p>
            

            <table>
                <tr>
                    <td>
                        <div class="d-flex feature">
                            <i class="far fa-check-circle"></i>
                            <p class="ps-2">Print and Download</p>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex feature">
                            <i class="far fa-check-circle"></i>
                            <p class="ps-2">Create a Resume for Free</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex feature">
                            <i class="far fa-check-circle"></i>
                            <p class="ps-2">Professional Resume</p>
                        </div>
                    </td>
                </tr>
            </table>
            
            <div class="cta mt-4">
                <a href="/contact-details" class="btn btn-lg">Build Resume Now</a>
            </div>
        </div>
    
        <div class="page-img">
            <img src="img/1-removebg-preview.png" alt="">
        </div>
    </main>
</body>
</html>


