<%- include("../partials/header") %>

    <!-- <title>Select Template</title> -->
    <link rel="stylesheet" href="css/template.css">
</head>
<body>
    <nav class="nav-bar">
        <div class="headerName">
            <h2><a href="/"> Resume Maker</a></h2>
        </div>
    </nav>

    <main class="margin-2">
        <div class="template-text mb-5">
            <h2>Build your Resume by choosing a template</h2>
        </div>

        <div class="template-content d-flex justify-content-around">
            <div class="template d-flex flex-column justify-content-between align-items-center">
                <img src="img/11.jpg" alt="">
                <a href="/temp1" class="btn px-3 select text-light">Select Template</a>
            </div>
            <div class="template d-flex flex-column justify-content-between align-items-center">
                <img src="img/22.jpg" alt="">
                <a href="/temp2" class="btn px-3 select text-light">Select Template</a>
            </div>
            
        </div>
    </main>

</body>
</html>